<div class="col-sm-6">
    <div class="panel">
        <div class="panel-heading">
            <%= exercise.name %>
        </div>
        <div class="panel-body">
            <%= exercise.muscle_group %>
            <%= image_tag exercise.image, class: "img-responsive" %>
        </div>
    </div>
</div>