<div class="col-sm-4">
    <div class="panel ">
        <div class="panel-heading"><%= workout.label %></div>
        <div class="panel-body">
            <% workout.exercises.each do |exercise| %>
                <p><%= exercise.name %></p>
            <% end %>
            <%= link_to 'View Workout', workout, class: 'btn', id: 'view-workout-link' %>
        </div>
    </div> <!-- Panel class -->
</div> <!-- Col-sm-4 -->


