<h1>Add Exercises to <%= @workout.label %></h1>

<%= form_tag add_exercise_path do %>
    <%= collection_select(:workout, :exercises, Exercise.all, :id, :name) %>
    <%= submit_tag "Add Exercise" %>
<% end %>


