<div class="workouts container-fluid">

<h1>Editing Workout for <%= @workout.label %></h1>

<%= render 'form', workout: @workout %>

<br/>

<%= link_to 'Cancel Update', @workout, class: 'btn', id: 'view-workout-link' %> 
<%= link_to 'All Workouts', workouts_path, class: 'btn', id: 'all-workouts-link' %>

</div>
