<div class="workouts">
    <div class="container-fluid">

        <h1>All Workouts</h1>
        
        <div class="row">
            <div class="col-sm-8">
                <%= render @workouts %>
            </div>
        </div>
    </div>
</div>