<div class="workouts">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-9">
                <h1>All Workouts</h1>
                <%= render @workouts %>
            </div>
        </div>
    </div>
</div>