<div class="workouts container-fluid">

<h1>Create a New Workout</h1>

<%= render 'form', workout: @workout %>

<br/>
<%= link_to 'All Workouts', workouts_path, class: 'btn', id: "all-workouts-link" %>

</div>