<%= stylesheet_link_tag 'pages' %>

<header class="jumbotron about-header">
  <div class"container">
    <h1>Welcome to </h1>
    <h1><span>Hella Fit</span></h1>
  </div>
</header>

<div class="about-main">
    <div class="row feature" id="feature-1">
        <div class="col-sm-8">
          <h3>The Idea Behind The App</h3>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. 
            Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'dumbell-round.jpeg', class: 'img-responsive' %>
        </div>
    </div>
    <div class="row feature">
        <div class="col-sm-4">
          <%= image_tag 'stair-run.jpeg', class: 'img-responsive' %>
        </div>
        <div class="col-sm-8">
          <h3>Our Mission</h3>
          <p class="lead">Vestibulum id ligula porta felis euismod semper. 
            Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            Donec ullamcorper nulla non metus auctor fringilla. </p>
        </div>
    </div>
</div>

<div class="about-meet">
    <h1>Meet The Team</h1>
    <div class="row">
        <div class="col-sm-4">
          <div class="panel">
            <div class="panel-body">
              <h3>Brandy Godfrey</h3>
              <h4>CEO</h4>
              <!-- image goes here -->
              <p>Drinking vinegar listicle tumblr, twee tofu echo park coloring book hell of whatever succulents 
                    banh mi four dollar toast. Synth cray sustainable, sartorial taxidermy chillwave banjo polaroid 
                    raclette edison bulb farm-to-table snackwave. Ennui skateboard blog live-edge tumblr air plant plaid. 
                    Blog migas pinterest schlitz. Gentrify raw denim photo booth meggings banh mi.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel">
            <div class="panel-body">
              <h3>Coco Chanel</h3>
              <h4>UX Designer</h4>
              <!-- image goes here -->
              <p> Synth cray sustainable, sartorial taxidermy chillwave banjo polaroid 
                  Drinking vinegar listicle tumblr, twee tofu echo park coloring book hell of whatever succulents 
                  banh mi four dollar toast. Raclette edison bulb farm-to-table snackwave. Ennui skateboard blog live-edge tumblr air plant plaid. 
                  Blog migas pinterest schlitz. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel">
            <div class="panel-body">
              <h3>Yao Ming</h3>
              <h4>Software Developer</h4>
              <!-- image goes here -->
              <p> Gentrify raw denim photo booth meggings banh mi. Coloring book hell of whatever succulents 
                    banh mi four dollar toast. Synth cray sustainable, sartorial taxidermy chillwave banjo polaroid 
                    raclette edison bulb farm-to-table snackwave. Ennui skateboard blog live-edge tumblr air plant plaid. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel">
            <div class="panel-body">
              <h3>Tito Williams</h3>
              <h4>Lead Fitness Trainer</h4>
              <!-- image goes here -->
              <p> Synth cray sustainable, sartorial taxidermy chillwave banjo polaroid 
                    raclette edison bulb farm-to-table snackwave. Ennui skateboard blog live-edge tumblr air plant plaid. 
                    Blog migas pinterest schlitz. Gentrify raw denim photo booth meggings banh mi.
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>

<div class="feedback">

</div>

<%= render 'layouts/footer' %>