<header class="jumbotron about-header">
  <div class"container">
    <h1> Welcome to </h1>
    <h1><span>Fitness Formula</span></h1>
  </div>
</header>

<div class="about-main">
    <div class="row feature">
        <div class="col-sm-8">
          <h3>The Idea Behind The App</h3>
          <p class="lead">
            We all want to be healthy and fit, but sometimes workouts don't fit into our schedules, 
            or we don't have all the right equipment, or we can't afford a gym membership, much less a personal trainer!
            At some point, we need to take control and find a way to do workouts consistently that fit our needs.
          </p>
        </div>
        <div class="col-sm-4">
          <%= image_tag 'dumbell-round.jpeg', class: 'img-responsive' %>
        </div>
    </div>
    <div class="row feature">
        <div class="col-sm-12">
          <p class="lead">
            Enter the workout customization app. It allows you to choose the number of days you are going to commit each week
            to working out, and you choose the exercises you want to do for each muscle group. There are a variety of exercises
            to choose from, so you can still workout each body part regardless of whether you have barbells, dumbbells, bands, machines, etc. 
            YOU CHOOSE what works for YOU!
          </p>
        </div>
    </div>
    <div class="row feature">
        <div class="col-sm-4">
          <%= image_tag 'stair-run.jpeg', class: 'img-responsive' %>
        </div>
        <div class="col-sm-8">
          <h3>Our Mission</h3>
          <p class="lead">
            We aim to provide a resource for anyone that wants to take control of their overall health and fitness.
            We understand that people have busy lives, so we want to take away the excuses for not being able to fit
            a workout into their routines. Each person deserves the opportunity to prioritize his or her health, and 
            we want to make that possible!
          </p>
        </div>
    </div>
</div>

<div class="about-meet">
    <h1>Meet The Team</h1>
    <div class="row">
        <div class="col-sm-4">
          <div class="panel">
            <div class="panel-body">
              <h3>Brandy Godfrey</h3>
              <h4>CEO</h4>
              <!-- image goes here -->
              <p>Drinking vinegar listicle tumblr, twee tofu echo park coloring book hell of whatever succulents 
                    banh mi four dollar toast. Synth cray sustainable, sartorial taxidermy chillwave banjo polaroid 
                    raclette edison bulb farm-to-table snackwave. Ennui skateboard blog live-edge tumblr air plant plaid. 
                    Blog migas pinterest schlitz. Gentrify raw denim photo booth meggings banh mi.
              </p>
            </div>
          </div>
        </div> 
    </div>
  </div>

<div class="feedback">

</div>
