<h1> <%= @user.username %> </h1>

<p>This page displayers all of the workouts for a user.</p>
<p>The purpose of this page is to allow others to see what workouts a user is doing 
    and allows them to view workouts and copy them to their own collection of workouts.  
</p>
