<div class="workouts">
    <div class="container">

    <h1><strong> <%= @user.username %> </strong></h1>

    <%= @user.workouts.each do |workout| %>
        <%= render 'workouts/workout', workout: workout %>
    <% end %>
    </div>
</div>
