/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

body {
    background-color: #07161C;
    font-family: 'Raleway', sans-serif;
    color: #E73548;
}
.nav-style {
    background-color: transparent;
    margin: 0;
    border-radius: 0;
    position: static;
    z-index: 150;
    width: 100%;
}
.icon-bar {
    background-color: #E73548;
}
.nav-style .navbar-brand {
    font-family: 'Monoton', cursive;
    font-size: 2rem;
    color: #E73548;

}
.nav-style a {
    color: #ECF0F1;
    text-transform: uppercase;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.nav li a:hover, 
.nav li a:focus {
    background-color: transparent;
    border-bottom: 3px solid #E73548;
    color: #E73548;
}
.dropdown img {
    height: 30px;
    width: 30px;
}
.dropdown li a {
    color: #ECF0F1;
}
.dropdown li a:hover {
    color: #E73548;
}
footer {
    text-align: center;
    color: #E73548;
}
.connect-icons {
    padding: 2% 0;
}
.connect-icons a {
    padding: 0 4%;
    color: #E73548;
}
.new-session {
    padding-bottom: 5%;  
}
.contact-modal {
    text-align: center;
}
.contact-modal .modal-header {
    background-color: #E73548;
    color: #ECF0F1;
}
.contact-modal ul li {
    list-style: none;
    line-height: 50px;
}  
.contact-modal ul li a {
    color: #07161C;
}
.contact-modal ul li a i {
    color: #E73548;
}