/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
}
.nav-style {
    background-color: transparent;
    margin: 0;
    border-radius: 0;
    position: static;
    z-index: 150;
    width: 100%;
}
.icon-bar {
    background-color: #00B478;
}
.nav-style .navbar-brand {
    font-family: 'Knewave', cursive;
    font-size: 3em;
    color: #00B478;
    text-shadow: 1px 1px #040D17;
}
.nav-style a {
    color: #00B478;
    text-transform: uppercase;
}
.nav li a:hover, 
.nav li a:focus {
    background-color: #040D17;
    color: #D10342;
}
.dropdown li a {
    color: #00B478;
}
.dropdown li a:hover {
    color: #D10342;
}
footer {
    text-align: center;
    color: #00B478;
}
.connect-icons {
    padding: 2% 0;
}
.connect-icons a {
    padding: 0 4%;
    color: #00B478;
}