body {
    background-color: #333333;
}
.nav-style {
    margin: 0;
    border-radius: 0;
}
.carousel-style .carousel-inner .item {
    max-height: 350px; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.carousel-style img {
    width: 100%;
}

@media (min-width: 414px) {
    .carousel-style .carousel-inner .item {
        max-height: 550px; 
        background-position: center center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }
    .carousel-style img:hover {
        opacity: 0.3;
    }
    .carousel-style img {
        width: 100%;
    }
    h1 {
        font-size: 4em;
    }
    p {
        font-size: 1.8em;
    }
}