body {
    background-color: #333333;
}
.nav-style {
    margin: 0;
    border-radius: 0;
}
.carousel-style .carousel-inner .item {
    max-height: 350px; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.carousel-style img {
    width: 100%;
}
.how-it-works {
    margin: 2% auto;
    color: #fff;
    text-align: center;
}
.how-it-works .panel{
    background-color: transparent;
    text-align: center;
}
.how-it-works .panel span {
    font-size: 2em;
}
@media (min-width: 414px) {
    .carousel-style .carousel-inner .item {
        max-height: 450px; 
    }
    .carousel-style h1 {
        font-size: 3em;
    }
    .carousel-style p {
        font-size: 1.2em;
    }
}
@media (min-width: 1024px) {
    .carousel-style .carousel-inner .item {
        max-height: 550px; 
    }
    .carousel-style img:hover {
        opacity: 0.3;
    }
    .carousel-style h1 {
        font-size: 4em;
    }
    .carousel-style p {
        font-size: 1.8em;
    }
}