/***** HOME PAGE ******/
.carousel-style .carousel-inner .item {
    max-height: 250px; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.carousel-style img {
    width: 100%;
}
.carousel-style h1 {
    font-size: 2em;
}
.call-to-action {
    text-align: center;
    padding: 5% 0;
    color: #ECF0F1;
}
.call-to-action h1 {
    font-family: 'Monoton', sans-serif;
    font-size: 1.8em;
}
.call-to-action span {
    font-size: 2.4em;
    color: #E73548;
    text-transform: uppercase;
}
.call-to-action img {
    width: 70px;
    padding:1% 0;
}
.how-it-works,
.about-meet {
    width: 100%;
    color: #2BDAFF;
    text-align: center;
}
.how-it-works h1,
.about-meet h1 {
    color: #E73548;
    font-weight: 900;
    margin: 0;
}
.how-it-works h3,
.how-it-works span,
.about-meet h3 {
    font-weight: 900;
}

/***** ABOUT PAGE ******/
.about-header {
    background-color: transparent;
    margin: 0;
    color: #ECF0F1;
    text-align: center;
}
.about-header h1 {
    font-size: 3.5em;
}
.about-header span {
    font-family: 'Monoton', sans-serif;
    font-size: 1.5em;
    color: #E73548;
    text-transform: uppercase;
    margin: 20px;
}
.about-main,
.about-meet {
    background-color: #ECF0F1;
    padding: 2% 0;  
    color: #07161C;
    text-align: center;
}
.about-main h3 {
    font-size: 2.2em;
    font-weight: bold;
    color: #E73548;
}
.about-main p {
    font-size: 1.4em;
    line-height: 1.6em;
}
.feature {
    margin: 2%;
    padding: 4%;
}
.feature img {
    border-radius: 5px;
    max-height: 250px;
    width: auto;
    margin: auto;
}
.about-meet h1 {
    color: #E73548;
    margin: 2%;
}
.about-meet .panel {
    background-color: transparent;
    margin: 2%;
    border: 1px #07161C solid;
    line-height: 1.8em;
    color: #07161C;
}
.about-meet .panel h3,
.about-meet .panel h4 {
    color: #07161C;
}

/***** WORKOUTS PAGES ******/
.workouts {
    background-image: url('background-brick-gradient.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.workouts h1 {
    color: #07161C;
    text-align: center;
    font-size: 2.2em;
    margin: 5%;
}
.workouts .panel {
    border: 1px solid #07161C;
    text-align: center; 
    color: #07161C;
}
.workouts .panel-heading {
    background-color: #E73548;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 1% 0 0 0;
}
.workouts .panel-heading p,
.workouts .panel-heading p a {
    color: #2BDAFF;
    text-transform: none;
    font-size: 16px;
}
.workouts .panel ul li {
    list-style: none;
    color: #07161C;
    line-height: 32px;
}
.workouts .panel img {
    max-height: 200px;
    margin: auto;
}
.exercise-panel .panel-heading {
    background-color: #2BDAFF;
}
#backto-workout-link, #my-workouts-link {
    background-color: #ECF0F1;
    border: 2px solid #E73548;
    color: #E73548;
}
#create-workout-link, 
#edit-workout-link,
#btn-submit,
#btn-add-exercise {
    background-color: #ECF0F1;
    border-color: #07161C;
    color: #07161C;
}
#create-workout-link {
    margin: 2% 0;
}
#delete-workout-link,
#btn-delete {
    background-color: #07161C;
    border-color: #07161C;
    color: #ECF0F1;
}
#all-workouts-link{
    background-color: #E73548;
    border-color: #E73548;
    color: #ECF0F1
}
#view-workout-link {
    background-color: #2BDAFF;
    border-color: #07161C;
    color: #07161C;
}
#btn-submit {
    padding: 6px 12px;
}
.user-info-sidebar {
    background-color: #07161C;
    color: #ECF0F1;
    padding: 1%;
}
.user-info-sidebar h1 {
    color: #ECF0F1;
}
.user-info-sidebar img {
    display: none;
}

/***** EXERCISES PAGES ******/
.exercises {
    background-color: #ECF0F1;
}
.exercise-modal .modal-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
}
.exercise-modal ul li {
    list-style: none;
    color: #07161C;
}
@media (min-width: 414px) {
    .dropdown-menu {
        background-color: #07161C;
    }
    .carousel-style .carousel-inner .item {
        max-height: 325px; 
    }
    .carousel-style h1 {
        font-size: 2.5em;
    }
    .carousel-style p {
        font-size: 1.2em;
    }
    .call-to-action h1 {
        font-size: 2em; 
    }
    .call-to-action img {
        width: 90px;
    }
    .user-info-sidebar img {
        display: flex;
        margin: auto;
        border-radius: 5px;
    }
    .user-workouts a {
        margin: 2% 0;
    }
}
@media (min-width: 768px) {
    .carousel-style .carousel-inner .item {
        max-height: 500px; 
    }
    .carousel-style h1 {
        font-size: 3.5em;
    }
    .carousel-style p {
        font-size: 1.8em;
    }
    .how-it-works {
        padding: 5% 0;
    }
    .contact {
        padding: 5% 0;
    }
    .step-panel {
        padding: 4%;
        font-size: 1.8rem;
    }
    .call-to-action h1 {
        font-size: 2.5em; 
    }
    .call-to-action img {
        width: 150px;
        padding:20% 0;
    }
    .about-header img {
        width: 150px;
    }
}
