<div class="exercises">
  <div class="container">

<h1>Exercises</h1>

<%= link_to new_exercise_path, remote: true, class: 'btn', id: 'btn-add-exercise' do %>
  <i class="fa fa-plus" aria-hidden="true"></i> Add Exercise
<% end %>

<div id="exercise-form" style="display:none;"></div>

<table class='table'>
  <thead>
    <tr>
      <th>NAME</th>
      <th>MUSCLE GROUP</th>
      <th>EQUIPMENT TYPE</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="exercises">
    <%= render @exercises %>
  </tbody>
</table>


  </div>
</div>

<script>
  $('#hide-form').onClick(function() {
    $('#exercise-form').slideUp(500);
  });
</script>