<%= stylesheet_link_tag 'pages' %>
<footer>
    <div class="row">
        <div class="col-sm-4">
            <h3>Find us on social media!</h3>
        </div>
        <div class="col-sm-4 connect-icons">
            <a href="#" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a href="#" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            <a href="mailto:bgodfrey22@gmail.com"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>
